<div class="tui-row tui-space_top-5">
  <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="on"
    class="tui-col_xs-10 tui-col_md-6 tui-col_lg-6 align_center">
    <h3 class="tui-form__header tui-form__header_margin-top_none">
      Register to our website
    </h3>

    <div class="tui-form__row">
      <tui-input [formControl]='registerForm.controls["firstName"]'>
        Enter your First Name
        <input tuiTextfield />
      </tui-input>
    </div>

    <div class="tui-form__row">
      <tui-input [formControl]='registerForm.controls["lastName"]'>
        Enter your Last Name
        <input tuiTextfield />
      </tui-input>
    </div>

    <div class="tui-form__row">
      <tui-input [formControl]='registerForm.controls["email"]'>
        Enter your Email
        <input tuiTextfield />
      </tui-input>
    </div>
    <div class="tui-form__row">
      <tui-input-password [formControl]='registerForm.controls["password"]'>
        Enter your Password
        <input tuiTextfield />
      </tui-input-password>
    </div>
    <div class="tui-form__row">
      <tui-input-password [formControl]='registerForm.controls["confirmPassword"]'>
        Confirm your Password
        <input tuiTextfield />
      </tui-input-password>
    </div>

    <div class="tui-form__row">
        <a tuiLink routerLink="/auth/login" class="float_right">Don't have an account ?</a>
    </div>

    <div class="tui-form__buttons">
      <button
        tuiButton
        [disabled]='!registerForm.valid'
        size="l"
        type="submit"
        class="tui-form__button"
      >
        Submit
      </button>
      <button
        tuiButton
        type="button"
        appearance="flat"
        size="l"
        class="tui-form__button"
      >
        <a routerLink="/">Cancel</a>
      </button>
    </div>
  </form>
</div>
